{% extends "gewind/base.html" %}

{% block title %}風車をつくる{% endblock %}

{% block content %}
    {{ inlines.as_table }}
    {{ inlines.management_form }}

    <script type="text/javascript">
    <!--
    function check(){
        if(window.confirm('入力された内容でダウンロードファイルを作成しますか？（※時間帯によっては出力に10秒以上かかる場合もあります。）')){ // 確認ダイアログを表示
            return true; // 「OK」時は送信を実行
        }
        else{ // 「キャンセル」時の処理
            window.alert('キャンセルされました'); // 警告ダイアログを表示
            return false; // 送信を中止
        }
    }
    // -->
    </script>

    <form method="post" onSubmit="return check()">
        {% csrf_token %}

        <table>
                <h1 align="left">ステップ1. 風車のスペックを入力</h1>
            <p>風車のスペックを以下のフォームに入力してください。出力される風車の支柱の直径は4 m、ナセルの大きさは4 m &times; 4 m &times; 12 mです。</p>
            <br>
<div>
    <div>
        <div class="sample1">
        {% for field in form %}
        <div style="float:left;">
             <div class="col-1">
                 <b>{{ field.label_tag }}</b>
            </div>
            <div class="col-2">
            {{ field }}
            </div>
            <div class="col-3">
            {{ field.help_text }}
            </div>
            <br>
        {% endfor %}
            </div>
        </div>
    </div>
</div>
        </table>
    <p align="right">
        （バードストライク対策参考文献：
        <a href="https://onlinelibrary.wiley.com/doi/10.1002/ece3.6592">May et al. (2020)</a>、
        <a href="https://www.bbc.com/news/science-environment-53909825">BBC (2020)</a>）
    </p>
　　　　　　　　　　　　　　　 {# インラインはinlinesという変数にリストで入っている #}
        <h1 align="left">ステップ2. 風車の座標を入力</h1>
    <p>任意の数（最大10基）の風車の座標を10進表記（例：134.43233）で入力してください。
        <a href="https://tomari.org/main/java/do_henkan.html">こちらのサイト</a>等で
        60進表記（例：東経134度25分56秒）を10進表記に変換できます。
        「風車の名称」は空欄可ですが、例えば「1号基」などと入力しておけば、Googe Earth上の表示が分かりやすくなります。
        </p>

    <br>
    <div>
    <div class="sample1">
        <table>
            {% for formset in inlines %}
                {# formset.management_form　は必須 #}
                {{ formset.management_form }}

                {% for form in formset %}
                    {% for field in form %}
                        {# field.errors　は必須 #}
                        {{ field.errors }}
                        {% if field.help_text %}

                        <div class="col-4">
                            <b>{{ field.label_tag }}</b>
                        </div>
                        <div class="col-5">
                        {{ field }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    <br>
                {% endfor %}
            {% endfor %}
        </table>

    </div>
        <div class="button_wrapper">
        <button type="submit" id="kmzinfo" >ステップ3. 風車モデル（.kmz）を出力</button>
    </div>
    </div>
    </div>
    </form>

{% endblock %}