{% extends 'gewind_en/base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<h1>Who is managing this website?</h1>
    <br>
    <p>Hello! Thank you for using this web app.
        Regarding my background, I was working as an environmental consultant,
        especially about Environmental Impact Assessment,
        at a company in Japan for a couple of years.
        <br>
        <br>

        I made this app as my hobby when I was self-studying Django framework.
        I hope you will find this web app useful for your purpose.
        I am going to share the code of this web app through the GitHub soon :) !
        <br>
        <br>

        Link: <a href="https://tropicbird.hatenablog.com/">my blog</a> (in Japanese)<br>
        </p>

{% endblock %}
